In [1]:
import warnings
warnings.filterwarnings

# Packages

In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

# 1. Business and Data Understanding

## Business interest

The used car market in India is a dynamic and ever-changing landscape. Prices can fluctuate wildly based on a variety of factors.

The dataset can be used by car dealership business, which helps to sell and buy used cars.

### Business Objective

 - In order to have a high commission from the sold cars, business is interested in selling cars for **a high prices**.
 - Additionally business is interested in **a big amount of deals** which increases overall profit.

### Business Constraint

However if you will be selling cars for unreasonably **high prices** you will get horrible reputation which affects **the amounts of deals**.

### Success Criteria

Satisfactory criteria from buyers and sellers of cars. The priority is given with respect to the context (e.g. we have a lot of sellers and very few buyers)

## Exploratory Data Analysis (EDA)

### Data Collection

In [33]:
cars = pd.read_csv("https://raw.githubusercontent.com/DIG-Placements/Datasets/main/Car%20Dataset.csv")

- This data is collected from 'Car Dekho'.
- Secondary Data Source

Following details of cars are included in the dataset:

1) Car name
2) Year
3) Selling Price
4) Kms driven
5) Fuel
6) Seller type
7) Transmission
8) Owner

### Data Analysis

In [34]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

- Structured Data
- Cross-Sectional Data

In [35]:
continuousFeatures = ['selling_price', 'km_driven', 'year']

nominalFeatures = ['name', 'fuel']
ordinalFeatures = ['transmission', 'seller_type', 'owner']

In [36]:
cars.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [37]:
cars.shape

(4340, 8)

# 2. Data Preparation

In [ ]:
cars['brand'] = cars.name.str.split().str[0]

In [19]:
cars.drop('name', axis=1, inplace=True)

# 3. Model Building

# 4. Evaluation

# 5. Model Deployment

# 6. Monitoring and Maintenance

# Resources

1. [Mind Map](https://360digitmg.com/mindmap/data-science)
2. [Kaggle information about dataset - Car Dekho](https://www.kaggle.com/datasets/akshaydattatraykhare/car-details-dataset)