# Packages

In [1]:
import os
from dotenv import load_dotenv
import mysql.connector as sqLtor

In [14]:
import csv
import pandas as pd

# Dot Environmen

In [2]:
# Actual API key is stored in a .env file.  Not good to store API key directly in script.
load_dotenv()
user = os.environ.get("user")
password = os.environ.get("password")

# SQL Connection

In [3]:
mycon = sqLtor.connect(host="localhost", user=user, passwd=password, database="python_db")

In [4]:
if mycon.is_connected():
    print("Successfully Connected to MySQL database")

Successfully Connected to MySQL database

In [5]:
cursor = mycon.cursor()

In [8]:
cursor.execute("SHOW TABLES;")
data = cursor.fetchall()
for row in data:
    print(row)

('test',)
('test_sample',)
('train_sample',)

In [7]:
cursor.execute("CREATE TABLE test(id INTEGER, name VARCHAR(255));")

In [9]:
cursor.execute("INSERT INTO test(id, name) VALUES(1, 'Rahul')")

In [10]:
cursor.execute("SELECT * FROM test;")
data = cursor.fetchall()
for row in data:
    print(row)

(1, 'Rahul')

In [12]:
# rows = cursor.fetchall()
fp = open('./test.csv', 'w') ##different path but you get the idea
myFile = csv.writer(fp, lineterminator='\n')
myFile.writerows(data)
fp.close()

In [15]:
df = pd.read_csv("./test.csv")
df.head()

Empty DataFrame
Columns: [1, Rahul]
Index: []